
  
  /* Filter & Sort Section */
  .filter-sort {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #1E2939;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .filter-sort select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: white;
  }
  
  /* Event Listings */
  .event-listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .event-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 305px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: white;
  }
  
  .event-card:hover {
    transform: scale(1.05);
  }
  
  .event-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .event-details {
    padding: 10px;
  }
  
  .event-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .event-date,
  .event-time,
  .event-location {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .event-description {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .register-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    
  }
  
  .register-btn:hover {
    background-color: #0056b3;
  }
  
  /* Pagination */
  .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #007BFF;
    color: white;
  }
  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer a {
    color: #007BFF;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }