.countdown-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 1.5s ease-in-out;
    
  }
  
  .eventTitle {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 10px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  #event-name {
    font-size: 1.2rem;
    color: #d4d4d4;
    margin-bottom: 30px;
  }
  
  .countdown {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .time-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .time-section span {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #15A6E1, #483D68);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    animation: pulse 2s infinite;
  }
  
  .time-section p {
    font-size: 1rem;
    color: #fff;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  @media (max-width: 768px) {
    .countdown-container {
      padding: 30px 40px;
    }
  
    .eventTitle {
      font-size: 2rem;
    }
  
    #event-name {
      font-size: 1rem;
    }
  
    .countdown {
      gap: 20px;
    }
  
    .time-section span {
      font-size: 2.5rem;
      padding: 8px 16px;
    }
  
    .time-section p {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 480px) {
    .countdown-container {
      padding: 20px 20px;
    }
  
    .eventTitle {
      font-size: 1.5rem;
    }
  
    #event-name {
      font-size: 0.9rem;
    }
  
    .countdown {
      align-items: center;
      gap: 15px;
    }
  
    .time-section span {
      font-size: 2rem;
      padding: 6px 12px;
    }
  
    .time-section p {
      font-size: 0.8rem;
    }
  }
  

  /* Button */

  